html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  background-image: linear-gradient(180deg, #5BE7C4, #4FC1E9);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
p {
  min-width: 300px;
  max-width: 900px;
}
div#hellosbackground {
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  position: relative;
  width: 100%;
  height: 100%;
	z-index: -1;
}
p#hello {
  font-family: 'Montserrat', sans-serif;
  font-size: 104px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  left: 50%;
  top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

p#info {
  font-family: 'Comfortaa', cursive;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  line-height: 32px;
  left: auto;
  right: auto;
  top: auto;
	bottom: auto;
	margin: auto;
  position: relative;
}
div#infobackground {
  background-color: rgba(255, 255, 255, 1);
  margin: inherit;
  left: inherit;
  right: inherit;
  top: inherit;
  bottom: inherit;
}
ul#links li {
  list-style: none;
  font-family: 'Raleway',sans-serif;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  line-height: 64px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: auto;
  left: auto;
  right: auto;
  top: 2em;
  bottom: auto;
  position:relative;
}
ul#links a {
  text-decoration: none;
	color: inherit;
}
#footerlinks{
	font-size: 12px;
	font-family: 'Raleway';
	color: rgba(240, 240, 240, 0.8);
	text-align: center;
	line-height: 25px;
	margin: auto;
	left: auto;
	right: auto;
	top: 1em;
	bottom: auto;
	width: auto;
	height: 100px;
	position: relative;
	overflow: visible;
}
div#footer {
	background-image: linear-gradient(180deg, rgba(95, 184, 216, 0.7), rgba(95, 184, 216, 0.9));
	position: relative;
	top: 390px;
	overflow-y: auto;
	height: 150px;
}
